<%- include ('../partials/header'); %>
<title>Location Finder</title>

<body>
  <script src="../../resources/js/locations.js"></script>
    <br>
    <div class="border border-primary rounded" style="width: 55%; margin: 1% auto; padding: 1%">
      <form class="" action="/locations/get_locations" method="post">
        <div class="row">
          <div class="col">
            <input class="form-control" type="text" name="place" placeholder="Enter a place in Colorado">
          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Choose result prefrences
            </a>
            <br>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">Most Relevant</a>
              <a class="dropdown-item" href="#">All Related</a>
            </div>
          </div>
          </div>
          <div class="col-1" style="margin: 0 2%">
            <input class="btn btn-dark" type="submit" name="Submit" value = "Submit"/>
          </div>
        </div>
      </form>
    </div>
    
    <div class="card-columns" id="locations-stack" style="width: 55%; margin: 1% auto;">
      <% if(places) { 
          places.forEach(function(places){ 
            var name= places.name
            var open = places.opening_hours.open_now
            var rating = places.rating
            var address = places.formatted_address
            var icon = places.icon  %>
            <div class="card card-default border-secondary" style="width: 18rem;">
              <img class="card-img-top" src="<%- icon %>" alt="image icon" style="width: 150px;height: 200px;">
              <div class="card-body">
                <h4 class="card-text"><%- name %></h4>
                <% if(open){ %>
                <p class="card-text">Open Now: <%- open %></p>
                <% } %>
                <p class="card-text">Rating: <%- rating %></p>
                <p class="card-text">Address: <%- address %></p>
              </div>
            </div>
           <% }); %>
          <% } %>
    </div>
<%- include ('../partials/footer'); %>

